$headerHeight: 8vh;
$logoHeight: 3.5vh;

.header {
  padding-left: 2vw;
  height: $headerHeight;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;

  .logo-icon {
    position: relative;
    margin: 0;
    height: $logoHeight;
    width: $logoHeight;
  }

  .logo-text {
    position: relative;
    margin: 0;
    height: $logoHeight;
    width: $logoHeight*5.5;
  }

}

.button-container {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .heart {
    position: relative;
    height: $logoHeight;
    width: $logoHeight;
  }

  .cart {
    position: relative;
    height: $logoHeight*1.1;
    width: $logoHeight*1.1;
    margin-bottom: 3px;
  }

}

.images {
  display: inline-block;
}