.article {
  width: 40vw;
  height: 50vw;
}

.image {
  width: 40vw;
  height: 40vw;
  box-shadow: 20px;
  border-radius: 15px 15px 0 0;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  padding: 5px 5px;
  box-shadow: 15px;
  border-radius: 0 0 15px 15px;

  .category {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1vw;

    .tag-design {
      border-color: var(--color-tag-font-color);
      color: var(--color-tag-font-color);
      font-size: x-small;
    }

  }

  .property {
    display: flex;
    justify-content: space-between;

    .value {
      font-size: x-large;
      margin-left: 1vw;
      width: 35vw;
    }

    .favorite {
      margin-top: 5px;
      margin-right: 3vw;
      min-width: 25px;
      min-height: auto;
    }

  }

}